*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 62.5%;
}
/* Header */
header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;

}

.titulo-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-logo h1{
    color: white;
}

.contenedor-form{
    display: flex;
    gap: 5rem;
}
.contenedor-form select{
    width: 17rem;
}

form{
    display: flex;
    border: none;
}
.form input{
   padding: .5rem;
   border-radius: 1rem 0 0 1rem;
   border: none;

}
.form button{
    padding: .8rem;
    border-radius:  0 1rem 1rem 0;
    border: none;
}

.titulo-logo img{
    width: 6rem;
    border-radius: 20rem;
}

/* Hero image */
.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/banner.jpg);
    background-position: center;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.hero-title{
    color: white;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Contenedor cards */
.contenedor-cards{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem 0;
    
}

/* Cards */

.card{
    padding: .5rem;
    border: thin solid black;
    cursor: pointer;
    width: 17rem;
}

.card img{
   
    width: 100%;
}
.card h2{
    text-align: center;
}

/* Modal */

.modal{
    position: fixed;
    background-color: #111111bd;  /*  Importante el bd al final para la transparencia*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
   
}

.modal.active{
    display: flex;
}


.contenedor-modal{
    background-color: aliceblue;
    max-width: 80%;
    width: 100rem;
    max-height: 80%;
    height: 80rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.contenedor-modal img{
    height: 600px;
    width: 600px;
}

.contenedor-modal button{
    padding: .3rem 2rem;
    font-size: 30px;
    border-radius: .3rem;
    border: thin solid #27A9C6;
    background-color: #27A9C6;
    color: black;
    font-weight: bold;
    transition: .5s;
    
}

.contenedor-modal button:hover{
    color: #27A9C6;
    background-color: aliceblue;
}