*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 62.5%;
}
/* Header */
header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;

}

.titulo-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-logo h1{
    color: white;
}

.contenedor-form{
    display: flex;
    gap: 5rem;
}
.contenedor-form select{
    width: 17rem;
}

form{
    display: flex;
    border: none;
}
.form input{
   padding: .5rem;
   border-radius: 1rem 0 0 1rem;
   border: none;

}
.form button{
    padding: .8rem;
    border-radius:  0 1rem 1rem 0;
    border: none;
}

.titulo-logo img{
    width: 6rem;
    border-radius: 20rem;
}

/* Hero image */
.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/banner.jpg);
    background-position: center;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.hero-title{
    color: white;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

